//////////////////////////////////////////
// Imports                              //
//////////////////////////////////////////

@import "settings";
@import "normalize";
@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/forms";
@import "foundation/components/buttons";
@import "foundation/components/labels";
@import "foundation/components/top-bar";
@import "foundation/components/tables";
@import "foundation/components/tooltips";
@import "foundation/components/reveal";


//////////////////////////////////////////
// Variables                            //
//////////////////////////////////////////

$base-font-size: 12px;
$container-margin: 8px;


//////////////////////////////////////////
// Typography                           //
//////////////////////////////////////////

@font-face {
    font-family: 'fira_sans_regular';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraSans-Regular.woff') format('woff'),
         url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
  font-family: fira_sans_regular;
  color: #4D4D4D;
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 10px;
  border-bottom: 1px solid #AAA;
}

h4 {
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 5px 0px 8px 0px;
}

.overlay-left h4,
.overlay-right h4{
  margin: 0px 0px 8px;
}

p {
  font-size: 0.9rem;
}

legend {
  padding-top: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  vertical-align: text-top;
  margin-bottom: 7px;
}

.has-tip {
  font-weight: normal;
  border: none;
}

.has-tip:hover {
  border: none;
  color: #217EB6;
}

.has-tip:after {
  content: " [?]";
  color: #217EB6;
  font-size: 0.9em;
}


//////////////////////////////////////////
// Layout                               //
//////////////////////////////////////////


// Navbar

#nav-container {
  margin: 0px auto;
  width: 1010px;

  #navigation {
    color: #FFF;

    li {
      float: left;
      padding-top: 11px;
      margin-left: 20px;

      img {
        margin-right: 5px;
        margin-top: -4px;
      }
    }

    .social.first {
      margin-left: 40px;
    }

    .social {
      margin-right: 10px;

      img {
        margin: -4px 0px 0px;
      }
    }

    a {
      font-size: 0.9rem;
      color: #FFF;
      padding: 12px 0px;
    }
  }

  a#trigger-help {
    font: h4;
    padding: 12px;
    background: #666;
    color: #FFF;
  }

  #trigger-help:hover {
    background: #888;
    cursor: pointer;
  }

}


// Container: Wrapper for Toolbar and Content

.container {
  margin: 15px auto;
  width: 1010px;
}


// Toolbar

#toolbar {
  width: 40px;
  float: left;
  margin-top: 20px;

  .icon {
    display: block;
    margin-bottom: 10px;
    // padding: 5px 0;
    width: 42px;
    height: 44px;
    vertical-align: middle;
    background-color: #333;
    background-reapeat: no-repeat;
    background-position: center center;
    // box-shadow: 0 0 4px 1px #555;
    border: 1px solid #000;
  }

  .icon:hover {
    background-color: #999;
    border: 1px solid #777;
  }

  .active {
    background-color: #999;
    border: 1px solid #777;
  }

  .toolbar-line {
    height: 2px;
    background: #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #FFF;
    margin: 10px 0px 10px 0px;
  }

  #trigger-type {
    background-image: url(../img/type.svg);
  }

  #trigger-data {
    background-image: url(../img/data.svg);
  }

  #trigger-color {
    background-image: url(../img/color.svg);
  }

  #trigger-icon {
    background-image: url(../img/icon.svg);
  }

  #trigger-text {
    background-image: url(../img/text.svg);
  }

  #trigger-adjustments {
    background-image: url(../img/adjustments.svg);
  }

  #trigger-scale {
    background-image: url(../img/scale.svg);
  }

}


// Display: Wrapper for the graphics and overlays

#display {
  width: 970px;
  height: 360px;
  margin-left: 40px;
  padding: 10px 10px 0 0;
  background: #FFF;
  background-image: url(../img/ruler.svg);
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 2px 1px #AAA;

  #graph {
    width: 100%;
    height: 100%;
  }

}


// Overlays

#overlay {

  height: auto;

  // Every Overlay Container
  .overlay-container {
    background: #E8E8E8;
    position: absolute;
    height: 100%;
    width: 220px;
    left: 0px;
    top: 0px;
    border-right: 1px solid #CCC;
    padding: 5px $container-margin;
    overflow: hidden;
    // box-shadow: 1px 2px 4px #AAA;

    .ui-container {
      border: 1px solid #CCC;
      border-radius: 3px;
      background: #F7F7F7;
      margin-bottom: $container-margin;
      padding: 5px 7px;

      h4 {
        margin: 0 0 10px;
        border-bottom: 1px solid #CCC;
      }

    }

    .slimScrollDiv {
      margin-right: -5px;
    }

    .overlay-left {
      // border-right: 1px solid #BBB;
      height: 400px;
      padding-right: $container-margin;
      width: 205px;
      float: left;
    }

    .overlay-right {
      // padding: 0px 10px 0px 20px;
      width: 455px;
      float: left;
    }

    button.tiny, .button.tiny {
      font-size: 11px;
      margin: 10px 0;
    }
  }


  // Data Overlay

  #overlay-data {
    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 70px;
      margin-bottom: 10px;
    }

    #dataTable {
      width: 100%;
      overflow: scroll;

    }
  }


  // Type Overlay

  #overlay-type {
    vertical-align: middle;

    #normal-isotype, #versus-isotype, #compare-isotype, #size-isotype {
      margin-bottom: 5px;
      height: 40px;
      background-color: #BBB;

      .type-title {
        color: #FFF;
        font-size: 1.1rem;
        font-weight: normal;
        margin-top: 14px;
        text-transform: uppercase;
      }
    }

    #normal-isotype:hover, #versus-isotype:hover, #compare-isotype:hover, #size-isotype:hover {
      background-color: #888;
    }

    #normal-isotype.active, #versus-isotype.active, #compare-isotype.active, #size-isotype.active {
      background-color: #333;
      box-shadow: 0 0 2px 1px #AAA;
    }

    .type-title {
      float: left;
      margin: 8px 0px 0px 10px;
    }

    .type-image {
      float: right;
      margin: 6px 10px 0 0;
    }

  }


  // Icon Overlay

  #overlay-icon {

    input[type='text'] {
      width: 160px;
      height: 28px;
      margin: 0px 0px 5px 0px;
    }

    .group-container {
      height: 28px;
      margin-bottom: 15px;
    }

    .group-id {
      background-color: #f0f0f0;
      width: 150px;
      height: 28px;
      float: left;
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
      border-left: 1px solid #CCC;
      padding: 8px 5px;

    }

    .group-icon {
      background-color: #FFF;
      width: 28px;
      height: 28px;
      float: left;
      border: 1px solid #CCC;
    }

    .category-icon {
      background-color: #FFF;
      padding: 5px;
      width: 64px;
      height: 64px;
      float: left;
      margin-right: 10px;
      cursor: move;
      border: 5px solid #bbb;
    }

    legend {
      clear: both;
      padding-top: 5px;
      margin-bottom: 5px;
    }

    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }

    .dragging {
      opacity: 0.4;
    }

    .active {
      border-color: #333;
      box-shadow: 0 0 2px 1px #AAA;
    }

  }


  // Color Overlay

  #overlay-color {

    .picker {
      margin: 5px 0px;
      padding: 3px 5px;
      border-right: 28px solid #000;
      line-height: 20px;
    }

    form legend {
      clear: both;
      padding-top: 5px;
      margin-bottom: 5px;
    }

    input[type='text']{
      width: 100%;
    }

    .colorpalette {

      height: 30px;
      margin-bottom: 15px;
      background: #FFF;
      border: 2px solid #FFF;
      overflow: hidden;
      float: left;
      clear: both;

      .colorbox {
        float: left;
        height: 30px;
        width: 30px;
      }

    }

    .active {
      background: #333;
      border-color: #333;
      box-shadow: 0 0 2px 1px #AAA;
    }

  }


  // Adjustments Overlay

  #overlay-adjustments {

  }


  // Scale Overlay

  #overlay-scale {

  }


  // Text Overlay

  #overlay-text {

  }

  #data-container, #icon-container, #color-container, #help-container {
    width: 70%;
  }

  .topic-line {
    border-bottom: 1px solid #BBB;
    margin: 0px 0px 15px 0px;
  }

  .normal-line {
    border-bottom: 1px solid #CCC;
    margin: 0px 0px 10px 0px;
  }


  // Help Overlay

  #overlay-help {

  }

}


// Footer

#footer {
  margin: 15px 0 0 0;
  padding: 3px;
  font-size: 0.85em;
  color: #777;
  border-top: 1px solid #BBB;
}


// Modal

#modal-container {

  button.timy, .button.tiny {
    font-size: 11pt;
  }

  #new-modal {

  }

  #import-modal {

  }

  #export-modal {

  }

}
