// Global Settings Override
@import "settings";
@import "normalize";

@import "foundation/components/global";

@import "foundation/components/type";
@import "foundation/components/forms";
@import "foundation/components/buttons";
@import "foundation/components/labels";
@import "foundation/components/top-bar";
@import "foundation/components/tables";
@import "foundation/components/tooltips";
@import "foundation/components/reveal";

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

#nav-container {
  margin: 0px auto;
  width: 1010px;

  #navigation {
    color: #FFF;

    li {
      float: left;
      padding-top: 11px;
      margin-right: 20px;

      img {
        margin-right: 5px;
        margin-top: -4px;
      }
    }

    .social.first {
      margin-left: 40px;
    }

    .social {
      margin-right: 10px;

      img {
        margin: -4px 0px 0px;
      }
    }

    a {
      color: #FFF;
      padding: 12px 0;
    }
  }

  #setHelp {
    font: h4;
    padding: 0 10px;
    background: #666;
    color: #FFF;
  }

  #setHelp:hover {
    background: #888;
    cursor: pointer;
  }

}

.container {
  margin: 10px auto;
  width: 1010px;
}

#graph {
  width: 100%;
  height: 100%;
}

#toolbar {
  width: 40px;
  float: left;
  margin-top: 10px;

  .icon {
    margin-bottom: 10px;
    padding: 5px 0;
    width: 44px;
    height: 44px;
    vertical-align: middle;
    background-color: #999;
    box-shadow: 0 0 4px 1px #555;
  }

  .toolbar-line {
   border-top: 1px solid #aaa;
   margin: 10px 0px 10px 0px;
  }

  #setType {
    background-image: url(../img/type.svg);
  }

  #setData {
    background-image: url(../img/data.svg);
  }

  #setColor {
    background-image: url(../img/color.svg);
  }

  #setIcon {
    background-image: url(../img/icon.svg);
  }

  #setText {
    background-image: url(../img/text.svg);
  }

  #setProperties {
    background-image: url(../img/properties.svg);
  }

  #setScale {
    background-image: url(../img/scale.svg);
  }

  :hover {
    background-color: #777;
  }

  .active {
    background-color: $primary-color;
    box-shadow: 0 0 2px 2px #555;
  }

}

#display {
  width: 970px;
  height: 360px;
  margin-left: 40px;
  padding: 10px 10px 0 0;
  background: #FFF;
  background-image: url(../img/ruler.svg);
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 5px 1px #777;

}

#overlay {

  height: auto;

  h3 {
    color: #555;
    font-weight: bold;
    font-size: 1.4em;
  }

  h4 {
    color: #555;
    font-weight: bold;
    font-size: 1.2em;
  }

  label {
    font-size: 0.9rem;
    font-weight: bold;
    vertical-align: text-top;
  }

  .picker {
    margin: 7px 0px;
    padding: 3px 5px;
    border-right:28px solid #000;
    line-height:20px;
  }

  .overlay-container {
    background: rgba(240, 240, 240, 0.9);
    position: absolute;
    height: 100%;
    width: 280px;
    left: 0px;
    top: 0px;
    border-right: 1px solid #CCC;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    box-shadow: 1px 2px 4px #333;

    .overlay-left {
      border-right: 1px solid #BFBFBF;
      height: 400px;
      padding-right: 10px;
      width: 270px;
      float: left;
    }

    .overlay-right {
      padding-left: 10px;
      width: 630px;
      float: left;
    }

    button.tiny, .button.tiny {
      font-size: 0.9rem;
    }
  }

  #overlay-data textarea {
    // TODO: Macht Probleme mit HandsoneTable
//    min-width: 935px;
//    max-width: 935px;
  }

  #overlay-type {
    vertical-align: middle;

    h4 {
      color: #FFF;
    }

    #normalIsotype, #versusIsotype {
      margin-bottom: 5px;
      height: 35px;
      background-color: #bbb;
      border-radius: 5px;
    }

    #normalIsotype:hover, #versusIsotype:hover {
      background-color: #999;
    }

    #normalIsotype.active, #versusIsotype.active {
      background-color: #555;
    }

    .typeTitle {
      float: left;
      margin: 6px 0px 0px 10px;
    }

    .typeImage {
      float: right;
      margin: 5px 10px 0 0;
    }

    .selectType {
      padding: 10px 120px 15px 10px;
    }
  }

  #overlay-color {

    .color-column-left {
      width: 300px;
      float: left;
      border-right: 1px solid #BFBFBF;
    }

    .color-column-right {
      padding-left: 10px;
      width: 300px;
      float: left;
    }

    .colorsample {
    float: left;
    width: 300px;

      input[type=radio] {
        margin-bottom: 7px;
      }

      input[type=text] {
        width: 100px;
        margin-right: 10px;
        float: left;
      }

      input:last-of-type {
        margin-right: 0px;
      }

      .colorpalette {
        height: 30px;
        margin-bottom: 15px;
      }

      .colorbox {
        float: left;
        margin-right: 10px;
        height: 30px;
        width: 30px;
        border: 1px solid #333;
      }
    }
  }

  #overlay-text textarea {
    min-width: 240px;
    max-width: 240px;
  }

  #overlay-data, #overlay-icon, #overlay-color, #overlay-help {
    width: 100%;
    border-right: none;
  }

  .topic-line {
    border-bottom: 1px solid #bbb;
    margin: 0px 0px 15px 0px;
  }

  .normal-line {
    border-bottom: 1px solid #BFBFBF;
    margin: 0px 0px 10px 0px;
  }
}

// Overlay Template
#overlay-data {
  #dataTable {

    width: 945px;
    overflow: scroll;

  }
}

#playground {
  width: 100%;
  min-height: 400px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
}

#footer {
  margin: 1em 0;
  padding: 3px;
  font-size: 0.85em;
  color: #777;
  border-top: 1px solid #BBB;
}

#message .alert {
  margin-top: 7px;
}

.reveal-modal button.tiny,
.reveal-modal .button.tiny{
  font-size: 0.9rem;
}