// Global Settings Override
@import "settings";

@import "normalize";
//@import "foundation";

@import "foundation/components/global";

@import "foundation/components/type";
@import "foundation/components/forms";
@import "foundation/components/buttons";
@import "foundation/components/labels";

.container {
  margin: 10px auto;
  width: 1010px;
}

#graph {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
}

#playground {
  width: 100%;
  min-height: 400px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
}

#footer {
  margin: 1em 0;
  padding: 3px;
  font-size: 0.85em;
  color: #777;
  border-top: 1px solid #EEE;
}

#message .alert {
  margin-top: 7px;
}
