.container{
    max-width: none !important;
    width: 1080px;
}

#graph {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
}

#playground {
    width: 100%;
    min-height: 400px;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 5px;
}

#footer {
    margin: 1em 0;
    padding: 3px;
    font-size: 0.85em;
    color: #777;
    border-top: 1px solid #EEE;
}

#message .alert {
    margin-top: 7px;
}
