<script type="text/template" id="color-template">
    <div id="overlay-color">
        <div class="scrollbar">
            <h3>Color Settings</h3>

            <div class="overlay-left">
                <form>

                    <div class="ui-container">
                        <h4><span data-tooltip class="has-tip tip-right" title="Choose if Colors are mapped to Columns or Rows">Map to</span></h4>
                        <input id="colorize-column" type="radio" name="radio3" value="column"><label for="colorize-column"><img src="img/column.svg"> Column</label>
                        <input id="colorize-row" type="radio" name="radio3" value="row"><label for="colorize-row"><img src="img/row.svg"> Row</label>
                    </div>

                    <div class="ui-container">
                        <h4>Assign colors</h4>

                        {{#each colorMapping}}
                        <legend>{{@key}}</legend>
                        <input type="text" id="picker-{{@index}}" class="picker" value="{{this}}" style="border-color: {{this}};">
                        {{/each}}
                    </div>

                    <a id="color-apply" href="#" class="tiny button radius">Apply</a>
                    <a id="color-apply-close" href="#home" class="tiny button radius">Apply & Close</a>
                </form>
            </div>
            <div class="overlay-right">
                <form>
                    <div class="ui-container">
                        <h4>Color Palettes</h4>

                        {{#each palettes}}
                        <legend>{{@key}}</legend>
                        <div id="colorpalette-{{@key}}" class="colorpalette">
                            {{#each this}}
                            <div class="colorbox" style="background-color: #{{this}}" title="{{this}}"></div>
                            {{/each}}
                        </div>
                        {{/each}}

                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
