<script type="text/template" id="data-template">
    <div id="overlay-data">
        <div class="scrollbar">
            <h3>Data Import</h3>

            <form class="custom">

                <div class="ui-container">
                    <h4>Paste Data</h4>
                    <textarea placeholder="Copy'n'Paste Data here" id="pasted-data"></textarea>

                    <a id="import-data" href="#" class="tiny button radius">Import</a>
                    <a id="import-data-close" href="#home" class="tiny button radius">Import & Close</a>
                    <a class="icon tiny button radius" id="help-test">Help</a>
                </div>

                <div class="ui-container">
                    <h4>Data Preview:</h4>
                    <table id="dataTable"></table>
                </div>

            </form>
        </div>
    </div>
</script>
