<script type="text/template" id="export-template">
    <h3>Export Graphic / Data</h3>

    <form>
        <div class="ui-container">
            <h4>Choose Export Format:</h4>
            <p>
                <button id="format-svg" type=button class="tiny button radius select-format">SVG (Graphic)</button>
                <button id="format-json" type=button class="tiny button radius select-format disabled">JSON (Raw Data)</button>
            </p>

        </div>

        <div class="ui-container">
            <h4>Include:</h4>
            <input id="export-data" type="checkbox" checked><label for="export-data">Data</label>
            <input id="export-options" type="checkbox" checked><label for="export-options">Options</label>
        </div>

        <div id='start-export' class="tiny button radius">Download</div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</script>
