<script type="text/template" id="icon-right-template">
    <div class="scrollbar">
        <div class="ui-container clearfix">
            <h4>Icon Library</h4>

            {{#each iconLibrary}}
            <div class="category clearfix">
                <legend>{{this.name}}</legend>
                {{#each this.icons}}

                <div class="category-border">
                    <div id="library-{{this.id}}" class="category-icon" draggable="true" svg-content="{{this.svg}}"></div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</script>
