<script type="text/template" id="import-template">
    <h3>Import Data</h3>

    <div class="ui-container">
        <br>
        <form>
            <label for="imported-file">Upload SVG or JSON File:</label>
            <input type="file" id="imported-file">
        </form>

        <div id="import-errors" data-alert class="alert-box warning radius" style="display: none">
            <div></div>
            <a href="#" class="close">&times;</a>
        </div>

        <div id="import-success" data-alert class="alert-box info radius" style="display: none">
            <div>Sucessfully imported File.</div>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</script>
