<script type="text/template" id="new-template">
    <h3>New Graphic</h3>
    <form>
        <div class="ui-container">
            <h4>Enter Aspect Ratio</h4>
            <label for="aspect-ratio">Aspect-Ratio:</label>
            <input id="aspect-ratio" name="aspectRatio" type="text" value="{{ options.aspectRatio }}">
        </div>

        <div class="ui-container">
            <h4>Alternative: Enter Width/Height</h4>

            <label for="aspect-ratio-width">Width</label>
            <input id="aspect-ratio-width" type="text" value="{{ options.graphWidth }}">

            <label for="aspect-ratio-height">Height</label>
            <input id="aspect-ratio-height" type="text" value="{{ options.graphHeight }}">
        </div>

        <a id="new-graphic-apply" href="#" class="tiny button radius">New Graphic</a>
        <a id="new-canvas-apply" href="#" class="tiny button radius">Change Canvas Aspect Ratio</a>

    </form>
    <a class="close-reveal-modal">&#215;</a>
</script>
