<script type="text/template" id="scale-template">
    <div id="overlay-scale">
        <h3>Scale Settings</h3>

        <form>
            <div class="ui-container">

                <h4>Set Scale</h4>
                <label>
                    <span data-tooltip class="has-tip tip-right" title="Enter Scale manually">Scale</span>
                </label>
                <input id="scale" name="scale" type="text" value="{{options.scale}}">

            </div>

            <div class="ui-container">
                <h4>Size Rounding</h4>

                <input id="round-size" name="roundSize" type="checkbox" {{#if options.roundSize}}checked{{/if}}><label for="round-size">Round Size</label>


                <label>
                    <span data-tooltip class="has-tip tip-right" title="Ceil value if Remainder is above">Round Up</span>
                </label>
                <input id="round-up" name="roundUp" type="text" value="{{options.roundUp}}">

                <label>
                    <span data-tooltip class="has-tip tip-right" title="Floor value if Remainder is below">Round Down</span>
                </label>
                <input id="round-down" name="roundDown" type="text" value="{{options.roundDown}}">
            </div>


            <a id="scale-apply" href="#" class="tiny button radius">Apply</a>
            <a id="scale-apply-close" href="#home" class="tiny button radius">Apply & Close</a>
        </form>
    </div>
</script>
