<script type="text/template" id="type-template">
    <div id="overlay-type">
        <form>
            <h3>Diagram Type</h3>

            <div class="ui-container">
                <h4>Select Type</h4>
                <div id="normal-isotype" class="select-type">
                    <div class="type-title">
                        Normal
                    </div>
                    <div class="type-image">
                        <a>
                            <img src="img/normal_isotype.svg">
                        </a>
                    </div>
                </div>

                <div id="versus-isotype" class="select-type">
                    <div class="type-title">
                        Versus
                    </div>
                    <div class="type-image">
                        <a>
                            <img src="img/versus_isotype.svg">
                        </a>
                    </div>
                </div>

                <div id="compare-isotype" class="select-type">
                    <div class="type-title">
                        Compare
                    </div>
                    <div class="type-image">
                        <a>
                            <img src="img/compare_isotype.svg">
                        </a>
                    </div>
                </div>

                <div id="size-isotype" class="select-type">
                    <div class="type-title">
                        Size
                    </div>
                    <div class="type-image">
                        <a>
                            <img src="img/size_isotype.svg">
                        </a>
                    </div>
                </div>
            </div>

            <!--<input id="break-rows" type="checkbox"><label for="break-rows">Break row into multiple Lines</label>-->

        </form>
    </div>
</script>
