<!-- Data Settings -->
<div id="sidebar-data" style="display: none">
    <h3>Data Import</h3>
    <form>

        <label>Data Type</label>
        <select>
            <option value="csv">$variable</option>
            <option value="tsv">Tab Seperated Values (.tsv)</option>
            <option value="json">JSON</option>
        </select>


        <label>Paste Data</label>
        <textarea placeholder="Copy'n'Paste here"></textarea>

        <a href="#" class="tiny button radius expand">Import</a>

        <hr>

        <h4>Preview:</h4>

        <table>
            <thead>
            <tr>
                <th width="200">Table Header</th>
                <th>Table Header</th>
                <th width="150">Table Header</th>
                <th width="150">Table Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
            </tr>
            </tbody>
        </table>


    </form>
</div>
