//////////////////////////////////////////
// Imports                              //
//////////////////////////////////////////

@import "settings";
@import "normalize";
@import "foundation/components/global";
@import "foundation/components/type";
@import "foundation/components/forms";
@import "foundation/components/buttons";
@import "foundation/components/labels";
@import "foundation/components/top-bar";
@import "foundation/components/tables";
@import "foundation/components/tooltips";
@import "foundation/components/reveal";
@import "foundation/components/alert-boxes";


//////////////////////////////////////////
// Variables                            //
//////////////////////////////////////////

$base-font-size: 12px;

$container-margin: 8px;
$overlay-small-width: 220px;
$overlay-big-width: 560px;

$leftIconSize: 40px;

$helpColor: #0BA1CC;
$submitColor: #9dd61f;


//////////////////////////////////////////
// Typography                           //
//////////////////////////////////////////

@font-face {
    font-family: 'fira_sans_regular';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraSans-Regular.woff') format('woff'),
         url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: fira_sans_regular;
}

h1, h2, h3, h4, h5, h6 {
  font-family: fira_sans_regular;
  color: #4D4D4D;
  font-weight: normal;
}

h3 {
  background-color: #333;
  border-radius: 3px;
  padding: 5px 7px 2px 7px;
  color: #EEE;
  margin-bottom: $container-margin;
  font-size: 1.2em;
  text-transform: uppercase;
}

h3.smallTopMenu {
  background-color: #333;
  border-radius: 3px 0 0 3px;
  padding: 5px 7px 2px 7px;
  color: #EEE;
  margin-bottom: $container-margin;
  font-size: 1.2em;
  text-transform: uppercase;
  float: left;
}

h3.smallTopMenu {
  width: 157px;
}

h4 {
  font-size: 1.2em;
  margin: 0 0 10px;
  border-bottom: 1px solid #CCC;
  text-transform: uppercase;
}

p {
  font-size: 0.9rem;
}

legend {
  padding-top: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

label {
  font-size: 0.9rem;
  font-weight: bold;
  vertical-align: text-top;
  margin-bottom: 7px;
}

.has-tip {
  font-weight: normal;
  border: none;
}

.has-tip:hover {
  border: none;
  color: $helpColor;
}

.has-tip:after {
  content: " [?]";
  color: $helpColor;
  font-size: 0.9em;
}

.tooltip {
  background-color: $helpColor;
  border-radius: 3px;
}
.nub {
  border-color: transparent $helpColor transparent transparent !important;
}

input.invalid {
  background: #FFE4E4;
  border-color: #B60808;
}

button.tiny, .button.tiny {
  font-family: fira_sans_regular;
  font-size: 11px;
  margin: 5px 0;
}


//////////////////////////////////////////
// Layout                               //
//////////////////////////////////////////


// Navbar

#nav-container {
  margin: 0px auto;
  width: 1010px;

  #title img {
    margin-top: -3px;
  }

  #navigation-create {
    color: #FFF;

    li {
      float: left;
      padding-top: 11px;
      margin-left: 20px;

      img {
        margin-right: 5px;
        margin-top: -4px;
      }
    }

    .social.first {
      margin-left: $leftIconSize;
    }

    .social {
      margin-right: 10px;

      img {
        margin: -4px 0px 0px;
      }
    }

    a {
      font-size: 0.9rem;
      color: #FFF;
      padding: 12px 0px;
    }
  }

  li.help {
    background: $helpColor;
    color: #FFF;
    height: 40px;

    a#trigger-help {
      padding-left: 17px;
      padding-right: 17px;
      background: $helpColor;

    }
  }


}


// Container: Wrapper for Toolbar and Content

.container {
  margin: 20px auto;
  width: 1010px;
}

.ui-container {
  border: 1px solid #CCC;
  border-radius: 3px;
  background: #FAFAFA;
  margin-bottom: $container-margin;
  padding: 5px 7px;

  h4, h4:hover {
    border-bottom: 1px solid #CCC;
  }
}

.highlight {
  border-color: $helpColor !important;
  border: 3px solid;
//  background: #E0F1F6 !important;
  transition: background-color 0.3s;
}

.colpick {
  z-index: 8888;
}


// Toolbar

#toolbar {
  width: $leftIconSize;
  float: left;
  margin-top: 20px;

  .icon {
    display: block;
    margin-bottom: 10px;
    width: 42px;
    height: 44px;
    vertical-align: middle;
    background-color: #AAA;
    background-reapeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
  }

  .icon:hover {
    background-color: #555;
  }

  .active {
    background-color: #333;
  }

  .toolbar-line {
    height: 2px;
    background: #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #FFF;
    margin: 10px 0px 10px 0px;
  }

  #trigger-type {
    background-image: url(../img/ui/type.svg);
  }

  #trigger-data {
    background-image: url(../img/ui/data.svg);
  }

  #trigger-color {
    background-image: url(../img/ui/color.svg);
  }

  #trigger-icon {
    background-image: url(../img/ui/icon.svg);
  }

  #trigger-text {
    background-image: url(../img/ui/text.svg);
  }

  #trigger-adjustments {
    background-image: url(../img/ui/adjustments.svg);
  }

  #trigger-scale {
    background-image: url(../img/ui/scale.svg);
  }

}


// Display: Wrapper for the graphics and overlays

#display {
  width: 970px;
  height: 460px;
  margin-left: $leftIconSize;
  padding: 10px 10px 0 0;
  background: #FFF;
  background-image: url(../img/ui/ruler.svg);
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 2px 1px #AAA;

  #graph-container {
    overflow: hidden;
  }

  #graph {
    width: 100%;
    height: 100%;
  }

  .move-right {
    margin-left: $overlay-small-width;
  }

  .move-far-right {
    margin-left: $overlay-big-width;
  }

}


// Overlays

#overlay {

  height: auto;

  // Every Overlay Container
  .overlay-container {
    background: #EDEDED;
    position: absolute;
    height: 100%;
    width: $overlay-small-width;
    left: 0px;
    top: 0px;
    border-right: 1px solid #CCC;
    padding: 5px $container-margin;
    overflow: hidden;

    .overlay-left {
      height: 400px;
      margin-right: $container-margin;
      width: 203px;
      position: absolute;
      left: $container-margin;
      top: $container-margin + 32px;

      .slimScrollDiv {
        margin-right: 0;
      }
    }

    .overlay-right {
      margin-left: 210px;
      width: 340px;
      position: absolute;
      right: 0;
      top: $container-margin + 32px;
    }

  }

  .button-group {

    a.apply {
      background-color: $submitColor;
      margin: $container-margin 0;
    }

    a.apply-right-margin {
      background-color: $submitColor;
      display: block;
      width: auto;
      margin-right: $container-margin;
    }
  }

  .scrollbar-container {

    padding-right: 0;

    h3 {
      margin-right: 8px;
    }

    .button {
      margin-top: $container-margin;
    }

    .slimScrollDiv {
      margin-right: $container-margin;
      padding-right: 16px;
      margin-right: 7px;
    }

  }


  .overlay-container.help{
    background: #333;
    width: 412px;
    left: $overlay-big-width;
    opacity: 0.98;


    h1 {
      color: #fff;
    }

    h3 {
      background: $helpColor;
      color: #FFF;
      border-color: $helpColor;
    }

    .button {
      background: #666;
      color: #fff;
      float: left;
      width: 110px;
      margin: 0 0 5px 0;

    }

    .active {
      background: $helpColor;
      color: #ffffff;
    }

    .button:hover {
      background: #28B2DA;
      color: #ffffff;
    }

    .tiny {
      padding: 0.625rem 0rem 0.6875rem;
    }

    .help-left {
      width: 110px;
      float:left;
    }


    .help-right {
      width: 285px;
      position: absolute;
      left: 0;
      margin-left: 118px;



      .slimScrollDiv {
        margin-right: 0px;
        height: 450px !important;

        .scrollbar {
          height: 450px !important;
        }
      }


      .help-step {
        border: 2px solid $helpColor;
        margin: 0px 0px 12px 10px;
        border-radius: 3px;



        .help-right-picture {
//          width: 182px;
//          height: 120px;
//          margin-top: 10px;
//
          img{
//            width: 257px;
//            height: 158px;
            margin: 0px;
            opacity: 0.97;
//
          }
        }

        .help-right-description {
          background: $helpColor;
//          background: #0082a5;
//          border-top: 1px solid $helpColor;
//          border-bottom: 1px solid $helpColor;
//          border-right: 1px solid $helpColor;

          .help-right-number {
            background: $helpColor;
            color: #fff;
            width: 30px;
            height: 45px;
            float: left;
            padding: 10px;
            font-size: 20px;

          }

          .help-right-text {
            background: #333;
            width: 225px;
            color: #fff;
//            position: absolute;
            margin-left: 30px;
            padding: 6px 9px;
            line-height: 17px;

          }
        }
      }
    }

    .help-nav {
      background: #666;
      border-radius: 3px;
      width: 96%;
      height: 40px;
      font-weight: bold;
      position: absolute;
      bottom: 7px;
//      right: 23px;

      .button {
        width: auto;
        margin: 7px 10px 5px;
        background: #333;
        color: #fff;
        padding: 4px 12px;
        border: none;
      }

      .button:hover {
        background: $helpColor;
        color: #FFF;
      }


      .help-nav-left {
        float: left;

        .button {
        background: #666;
        }

        .help-nav-left-icon {
          background-image: url(../img/ui/previous.svg);
          background-repeat: no-repeat;
          height: 12px;
          width: 12px;
          margin: 3px 0px;
          border: none;
        }

      }

      .help-nav-center {
        position: absolute;
        margin-left: 132px;
        border: none;

        .button {
          padding: 7px 12px;
          background: #333;
        }

      }

      .help-nav-right {
        float: right;

        .button {
          background: #666;
        }

        .help-nav-right-icon {
          background-image: url(../img/ui/next.svg);
          background-repeat: no-repeat;
          height: 12px;
          width: 12px;
          margin: 3px -1px;
          border: none;
        }

      }

    }
  }

  .help-section {

      color: #333;
      padding: 0px;

      .help-title {
        text-align: left;
        float: left;
        color: #fff;
        text-transform: uppercase;
        font-family: fira_sans_regular;
        font-size: 1.1em;
        padding: 11px 0 0 0;
      }

      h3 {
        margin-right: 0px;
      }

      h4 {
        color: #EEE;
        float: left;
        border: none;
        padding: 4px 0;
        margin: 0px;
      }

      img {
        float: left;
        margin: 5px 14px 3px 12px;
//        height: 20px;
//        fill: $helpColor;
      }

      img.ui-element {
        margin: -1px 12px 0px 8px;
        height: 34px;
      }

      .home-help-content {

        .button {
          width: 375px;
          background: #666;
          color: #fff;
          border: none;
          padding: 0px;
          margin: 0 0 5px 0;
          height: 36px;
        }

        .slimScrollDiv {
          margin-right: 0;
        }

        h3 {

        }

        .smaller {
          height: 42px;

          img {
            margin: 0px 10px 3px 5px;
            height: 39px;
          }
        }

        .active, .button:hover {
          background: $helpColor;
          color: #ffffff;
        }



        .home-help-topic{


          h4 {
            margin: 5px 0px 0px 0px;
          }
        }

        .home-help-choose {
          width: 12px;
          height: 12px;
          background-image: url(../img/ui/choose.svg);
          float: right;
          margin: 10px 10px 3px 5px;
        }



      }
  }



  // Data Overlay

  #overlay-data {
    textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 80px;
      margin-bottom: 0;
    }

    #dataTable {
      width: 100%;
      overflow: scroll;

    }

    .button-group {
      text-align: right;
    }
  }


  // Type Overlay

  #overlay-type {
    vertical-align: middle;

    .select-type {
      margin-bottom: 5px;
      height: $leftIconSize;
      background-color: #AAA;
      border-radius: 3px;
      border: none;

      .type-title {
        color: #FFF;
        font-size: 1.1rem;
        font-family: fira_sans_regular;
        font-weight: normal;
        margin-top: 14px;
        text-transform: uppercase;
      }
    }

    .select-type:hover {
      background-color: #BBB;
      border: none;
    }

    .select-type.active {
      background-color: #333;
      border: none;
    }

    .type-title {
      float: left;
      margin: 8px 0px 0px 10px;
    }

    .type-image {
      float: right;
      margin: 6px 10px 0 0;
    }

  }


  // Icon Overlay

  #overlay-icon {

    svg {
      width: 32px;
      height: 32px;
    }

    .group-container {
      height: $leftIconSize;
      margin-bottom: 7px;
    }

    .group-id {
      background-color: #EDEDED;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      height: $leftIconSize;
      float: left;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      border-left: 1px solid #bbb;
      padding: 13px 8px;

    }

    .group-icon {
      background-color: #FFF;
      width: $leftIconSize;
      height: $leftIconSize;
      margin-left: 130px;
      border: 1px solid #CCC;
      padding: 3px;
    }

    .category-border {
      background-color: #FFF;
      width: $leftIconSize;
      height: $leftIconSize;
      float: left;
      margin-right: 9px;
      margin-bottom: 9px;

      border: 1px solid #bbb;
    }

    .category-icon {
      height: $leftIconSize;
      width: $leftIconSize;
      padding: 3px;
      cursor: move;
    }

    legend {
      clear: both;
      padding-top: 5px;
      margin-bottom: 5px;
    }

    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

  }


  // Color Overlay

  #overlay-color {

    .picker {
      margin: 5px 0px;
      padding: 3px 5px;
      border-right: 28px solid #000;
      line-height: 20px;
    }

    form legend {
      clear: both;
      padding-top: 5px;
      margin-bottom: 5px;
    }

    input[type='text']{
      width: 100%;
    }

    .colorpalette {

      height: 30px;
      margin-bottom: 15px;
      background: #FFF;
      border: 2px solid #FFF;
      overflow: hidden;
      float: left;
      clear: both;

      .colorbox {
        float: left;
        height: 30px;
        width: 30px;
      }

    }

    .active {
      background: #333;
      border-color: #333;
      box-shadow: 0 0 2px 1px #AAA;
    }

  }


  // Adjustments Overlay

  #overlay-adjustments {
    .row.collapse {
      margin-bottom: 10px;

      input {
        margin: 0;
      }

    }
    .row.collapse.highlight {
      border-radius: 3px;
      padding: 3px;
    }
  }


  // Scale Overlay

  #overlay-scale {

  }


  // Text Overlay

  #overlay-text {

  }


  #data-container, #icon-container, #color-container {
    width: $overlay-big-width;
  }

  .topic-line {
    border-bottom: 1px solid #BBB;
    margin: 0px 0px 15px 0px;
  }


  .normal-line {
    border-bottom: 1px solid #CCC;
    margin: 0px 0px 10px 0px;
  }


}

#message-box {
  margin-left: $leftIconSize;
  margin-top: $container-margin;
  margin-bottom: $container-margin;

  div {
    padding: 7px 10px;
    margin-bottom: 1px;
    border-radius: 3px;
  }

  #overflow-warning {
    background: #B32F01;
    color: #FFF;
  }
}

// Footer

#footer {
  margin: 15px 0 0 0;
  padding: 3px;
  font-size: 0.85em;
  color: #777;
  border-top: 1px solid #BBB;
}


// Modal
.reveal-modal {
    padding: 10px;

    form,
    .tiny {
      margin-bottom: 0;
    }

    .close-reveal-modal {
      font-size: 30px;
      line-height: 1;
      position: absolute;
      top: 8px;
      right: 16px;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
    }


}

#modal-container {

  button.tiny, .button.tiny {
    font-size: 11pt;
  }

  #new-modal {

  }

  #import-modal {

  }

  #export-modal {

  }
}


#tour-modal {
  background: #333;
  color: #fff;
  line-height: 15px;


  #start-tour {
    background: #0099CC;
    color: #fff;
    border: 1px solid #0099CC;
    height: 29px;

    img {
      margin-right: 5px;
      margin-top: -2px;
      height: 16px;
    }

  }

   .button {
    background: #BBB;
    color: #333;
    float: right;
    margin-left: 5px;
  }

  .button:hover{
    background: #333;
    border-color: #0099CC;
    border-width: 1px;
    color: #fff;
  }

  .ui-container {
    background: #333;
    border: 1px solid #333;
    text-align: center;

    h4 {
      color: #fff;
    }

  }

  label {
    color: #fff;
    padding-left: 15px;
    text-indent: -15px;
    vertical-align: text-bottom;
  }

  input {
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 7px;
  }


  h3 {
    background-color: #0099CC;
    border-color: #0082e5;
    text-align: center;
    border-radius: 3px;
  }

  b {
    color: #0099CC;
  }
}


